@charset "UTF-8";
/* L'ordre des fichiers est très importants, il se peut 
que l'ordre des fichiers créer une incohérence dans le rendu final.
Il faut absolument faire attention à cela. */
/**************************************************/
/* RESET
/**************************************************/
@import url("https://fonts.googleapis.com/css?family=Barlow:300,300i,400");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-moz-selection {
  color: #ff006f;
}

*::selection {
  color: #ff006f;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input, button, a {
  border: none;
  margin: 0;
  outline: none;
}

button, input:not([type=checkbox]):not([type=radio]), textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: inherit;
  resize: none;
  font: inherit;
  color: inherit;
}

button, input[type=submit] {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

button:hover, input[type=submit] {
  cursor: pointer;
}

strong {
  font-weight: normal;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

/*Position & Pseudo Elements*/
/*Mobile, Tablette, Desktop*/
/*1- ELEMENT POSITION*/
/*Center an element, the mixins will be to apply in the parent*/
/*Center an element, with Translate 50% - 50%*/
/*Elements position relative & absolute*/
/*2- Image*/
/*Pseudo elements */
/*Dimension a box*/
/*Shadow Elements*/
/* 3- Margin & Padding*/
/*Mediquaeries http://w3bits.com/sass-mixins/*/
/*Colours*/
h1 {
  color: #726D6E;
  font-size: 1.3em;
  font-weight: bold;
}

h2 {
  color: #FFFFFF;
  font-size: 1.4em;
  font-weight: bold;
}

i {
  padding: 2px;
  background-color: #F8BB2C;
  color: #FFFFFF;
  font-style: italic;
  font-weight: bold;
}

body {
  background-color: #29303B;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  font-family: 'Barlow', sans-serif;
}

header {
  background: #F8BB2C;
  height: 10%;
  width: 100%;
}

/* Elements who have the sames property in css3*/
main, .menu, nav,
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main, section, a {
  padding: 10px;
}

main, h1 {
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
}

h1, ul, a {
  width: 100%;
}

nav, .square {
  background: #F8BB2C;
}

main.Flexline.menu {
  height: auto;
}

/* Card position Column on Flexbox */
main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  background: #FFFFFF;
  border: 1px solid #f5f5f5;
  margin-bottom: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

main h1 {
  padding: 20px;
  text-align: center;
  width: 100%;
}

main ul li {
  color: #595F71;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 400;
}

/* Card position inline on flexbox */
main.flexInline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 90%;
}

main.flexInline div.square {
  height: 200px;
  width: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
}

main.flexInline div.square:nth-of-type(4n) {
  margin-right: 0;
}

main.flexInline img {
  height: auto;
  width: 100%;
}

main.flexInline article {
  height: calc(100% - 55px);
  width: calc(100% - 55px);
  background: url("../img/alone.jpg") center center;
  background-size: cover;
}

/* Cards Menu */
.menu {
  height: auto;
  width: 90%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.menu nav {
  height: 100%;
  width: 30%;
}

.menu nav ul li {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.5;
}

.menu nav ul a {
  color: #252525;
  display: inline-block;
}

.menu nav ul a:hover {
  margin-left: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu section {
  padding: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 100%;
  width: calc(100% - 30%);
}

.menu section p {
  line-height: 20px;
  padding-bottom: 10px;
}

.menu section img {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  height: 60%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Mediaquerie for Tablet 
$tablet: "(min-width: 768px) and (max-width: 1024px)"*/
@media (min-width: 1040px) {
  body:before {
    margin-bottom: 20px;
    color: #252525;
    content: "Desktop";
    display: block;
    text-align: center;
    width: 100%;
  }
  .menu {
    height: auto;
  }
  .menu nav {
    background: none;
    height: auto;
    width: 100%;
  }
  .menu nav ul a {
    color: #ffaa00;
  }
  .menu nav ul a:hover {
    margin-left: 20px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .menu section {
    height: auto;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  body {
    background: #E06C75;
  }
  body:before {
    content: "Tablet";
    margin-bottom: 20px;
    display: block;
    text-align: center;
    width: 100%;
  }
  main {
    height: auto;
    width: 90%;
  }
  main.flexInline div.square {
    height: 20%;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  main.flexInline article {
    height: calc(100% - 56px);
    width: calc(100% - 56px);
    background: url(../img/alone.jpg) center center;
    background-size: cover;
  }
  .menu nav {
    height: auto;
    width: 100%;
  }
  .menu section {
    height: auto;
    width: 100%;
  }
}

/*Mediaquerie for Mobile $mobile:
 "(min-width: 300px) and (max-width: 768px)"*/
@media (min-width: 300px) and (max-width: 768px) {
  body {
    background: #61AFEF;
  }
  body:before {
    content: "Mobile";
    margin-bottom: 20px;
    display: block;
    text-align: center;
    width: 100%;
  }
  main {
    height: auto;
    width: 90%;
  }
  main h1 {
    font-size: 1em;
  }
  /* Card position inline on flexbox */
  main.flexInline div.square {
    height: 20%;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  main.flexInline article {
    height: 300px;
    width: 100%;
    background: url("../img/alone.jpg") no-repeat center center;
    background-size: cover;
  }
  /* Cards Menu */
  .menu nav {
    height: auto;
    width: 100%;
  }
  .menu section {
    height: auto;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */