/*Colours*/
$vanilla_brown:#CCBFAD; //Body

$stack:#8D8D8D; //Titre
$dove_gray:#726D6E; //Section
$grey:#f5f5f5; // Paragraphe

$safran:#F8BB2C; //Section
$safran_dark:#ffaa00;
$white:#FFFFFF; // Section 
$antracite:#252525; //Section


