/*1- ELEMENT POSITION*/

@mixin Flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
          flex-direction: row;
}
@mixin FlexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
}


/*Center an element, the mixins will be to apply in the parent*/
@mixin ParentCenterElement {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*Center an element, with Translate 50% - 50%*/
@mixin ChildCenterTransform {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*Elements position relative & absolute*/
@mixin ParentPosition {
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top:0;
}

@mixin ChildPosition {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top:0;
}
/*2- Image*/ 

@mixin BackgroundImage {
  background-size: cover;
}

/*Pseudo elements */
@mixin PseudoElement($content: '', $display: block, $pos: absolute) {
  content:  $content;
  display:  $display;
  position: $pos;
} 

/*Dimension a box*/ 
@mixin Size($width, $height: $width){
  height: $height;
  width: $width;
}

/*Shadow Elements*/ 
@mixin Shadow{
  box-shadow: 0 6px 8px 1px rgba(209,207,207,0.50);
}

/* 3- Margin & Padding*/ 
@mixin Padding($padding) {
  padding: $padding;
}
@mixin PaddingDetails($padding-top, $padding-bottom, $padding-left, $padding-right) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  padding-left: $padding-left;
  padding-right: $padding-right;
}
@mixin Margin($margin-top, $margin-bottom, $margin-left, $margin-right) {
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  margin-left: $margin-left;
  margin-right: $margin-right;
}















/*Mediquaeries http://w3bits.com/sass-mixins/*/ 
@mixin screen($size) {

  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  }
  @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  }
  @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  }
  @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}