/*Colours*/
$vanilla_brown:#CCBFAD; //Body

$stack:#8D8D8D; //Titre
$dove_gray:#726D6E; //Section
$grey:#CACACA; // Paragraphe

$safran:#F8BB2C; //Section
$white:#FFFFFF; // Section 
$antracite:#252525; //Section

/*Size Elements*/
$width:"width";
$height:"height";


/*Position & Pseudo Elements*/
$content:"";
$display:"display"; 
$pos:"position";

/*Mobile, Tablette, Desktop*/
$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(max-width: 767px)"; 