/*Position & Pseudo Elements*/
$content:"";
$display:"display"; 
$pos:"position";

/*Mobile, Tablette, Desktop*/
$desktop: "(min-width: 1040px)";
$tablet: "(min-width: 768px) and (max-width: 1040px)";
$mobile: "(min-width: 300px) and (max-width: 768px)"; 