/* Elements who have the sames property in css3*/ 
main, .menu, nav,
section {
@include FlexColumn;
}

main, section, a{
  @include Padding(10px);  
}

main, h1 {
  @include ParentPosition;
}

h1, ul, a {
  width:100%;
}

nav, .square {
  background: $safran;  
}

main.Flexline.menu {
  height: auto;
}
/* Card position Column on Flexbox */ 
main {
  @include ParentCenterElement;
  //@include Shadow;
  @include Size(90%, null);
  background: $white;
  border: 1px solid $grey;
  margin-bottom: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  
  h1 {
    @include Padding(20px);
    text-align: center;
    width: 100%;
  }
}
/* Card position inline on flexbox */ 
main.flexInline {
  @include Flex;
  @include Size(90%, 100%);

  div.square {
    @include Size(250px, 200px);
    @include Margin(null, 20px, null, 20px)

    &:nth-of-type(4n) {
      margin-right:0;
    }
  }

  img {
    @include Size(100%, auto);
  }
  article {
    @include Size (calc(100% - 55px));
    background: url("../img/alone.jpg")center center;
    @include BackgroundImage;
  }
}


/* Cards Menu */ 
.menu {
  @include Size (90%, auto)
  justify-content: left;

  nav {
    @include Size (30%, 100%);

    ul {
      li {
        @include Margin (0, 20px, 0, 0);
        line-height: 1.5;        
      }
      a {
        color:$antracite;
        display: inline-block;
      &:hover {
          margin-left: 20px;
          transition: .5s;
        }
      }
    }
  }
  section {
    @include Padding(10px);
    align-self: flex-start;
    height: 100%;
    width: calc(100% - 30%);
    
    p {
      line-height: 20px;
      padding-bottom: 10px;
    }

    img {
      @include Margin (0, 20px, 0, 0);
      @include Size (100%, 60%);
      object-fit: cover;
    }
  }
}
