/*Mediaquerie for Tablet 
$tablet: "(min-width: 768px) and (max-width: 1024px)"*/

@media #{$desktop} {
  body {
    background: #282C34;
    &:before {
      content: "Desktop";
      color: $white;
      @include Margin(null, 20px, null, null);
    }
  }
  .menu {
    height: auto;

    nav {
      background: none;
      @include Size (100%, auto);
      ul {
        a {
          color: $safran_dark;
          &:hover {
            margin-left: 20px;
            transition: .5s;
          }
        }
      }
    }
    section {
      @include Size(100%, auto);
    }
  }
}






@media #{$tablet} {
  body {
    background: #E06C75;
    &:before {
      content: "Tablet";
      @include Margin(null, 20px, null, null);
    }
  }
  main {
    @include Size(90%, auto);
  }
  main.flexInline {
    @include FlexColumn;
    div.square {
      @include Size(100%, 20%);
      @include Margin(null, 20px, null, null);
      margin-right: 0;
    }
    article {
      height: calc(100% - 56px);
      width: calc(100% - 56px);
      background: url(../img/alone.jpg) center center;
      background-size: cover;
    }
  }
  .menu {
    nav {
      @include Size (100%, auto);
    }
    section {
      @include Size (100%, auto);
    }
  }
}






/*Mediaquerie for Mobile $mobile:
 "(min-width: 300px) and (max-width: 768px)"*/

@media #{$mobile} {
  body {
    background: #61AFEF;
    &:before {
      content: "Mobile";
      @include Margin(null, 20px, null, null);
    }
  }
  main {
    @include Size(90%, auto);
    h1 {
      font-size: 1em;
    }
  }
  /* Card position inline on flexbox */
  main.flexInline {
    @include FlexColumn;
    div.square {
      @include Size(100%, 20%);
      @include Margin(null, 20px, null, null);
      margin-right: 0;
    }
    article {
      @include Size (100%, 300px);
      background: url("../img/alone.jpg")no-repeat center center;
      @include BackgroundImage;
    }
  }
  /* Cards Menu */
  .menu {
    nav {
      @include Size (100%,
      auto);
    }
    section {
      @include Size (100%,
      auto);
    }
  }
}